.contact {
    padding: 30px 35px;
    font-size: 1em;
    table {
        width: 100%;
        tr {
            th {
                text-align: left;
            }
        }
    }
    a {
        color: rgb(95, 165, 165);
        font-size: 1.6em;
    }
}