header {
    border: 1px solid red;
    font-size: 1.8em;
    position: fixed;
    float: left;
    width: 25%;
    height: 100%;

    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; 
            padding: 0;

            li {

                a {
                    padding: 1.2em;
                    text-transform: uppercase;

                    &:hover {
                        background: #f5cfa5;
                    }
                }
            }
        }
    }
}