<h2>Portfolio</h2>
<p>Check out my work below. Unless otherwise stated, all the back-end and front-end were done by me.</p>

<ul class='timeline'>
  <li class='project'>
    <div class='project__date'>Now</div>
    <div class='project__description'>
      <div class='project__text'>
          <h3 class='project__title'>Angular Portfolio</h3> 
          <p class='project__subtitle'>Best way to learn Angular? By making a portfolio.</p>
          <p class='project__summary'>Check out all of my web development work by scrolling down the timeline! I've also got work that is currently in progress, and I'm so excited about them!</p>
          <button class='project__button'><a href='/'>More details</a></button>
          <div class='project__tech'>
            <p>TECHNOLOGIES</p>
            <ul class='tech__list'>
              <li class='tech__item'>Angular</li>
              <li class='tech__item'>CSS</li>
              <li class='tech__item'>SCSS</li>
              <li class='tech__item'>TypeScript</li>
              <li class='tech__item'>JavaScript</li>
            </ul>
          </div>
      </div>
      <div class='project__demo'>
        <img src='/' alt='demo'/>
      </div>
    </div>
  </li>
  <li class='project'>
    <div class='project__date'>2017-2018</div>
    <div class='project__description'>
      <div class='project__text'>
          <h3 class='project__title'>Teafographic</h3> 
          <p class='project__subtitle'>A tea and herb encyclopedia</p>
          <p class='project__summary'>Check out all of my web development work by scrolling down the timeline! I've also got work that is currently in progress, and I'm so excited about them!</p>
          <button class='project__button'><a href='/'>More details</a></button>
          <div class='project__tech'>
            <p>TECHNOLOGIES</p>
            <ul class='tech__list'>
              <li class='tech__item'>React</li>
              <li class='tech__item'>CSS</li>
              <li class='tech__item'>SCSS</li>
              <li class='tech__item'>MongoDB</li>
              <li class='tech__item'>JavaScript</li>
            </ul>
          </div>
      </div>
      <div class='project__demo'>
        <img src='/' alt='demo'/>
      </div>
    </div>
  </li>
  <li class='project'>
    <div class='project__date'>2016-2017</div>
    <div class='project__description'>
      <div class='project__text'>
          <h3 class='project__title'>Angular Portfolio</h3> 
          <p class='project__subtitle'>Best way to learn Angular? By making a portfolio.</p>
          <p class='project__summary'>Check out all of my web development work by scrolling down the timeline! I've also got work that is currently in progress, and I'm so excited about them!</p>
          <button class='project__button'><a href='/'>More details</a></button>
          <div class='project__tech'>
            <p>TECHNOLOGIES</p>
            <ul class='tech__list'>
              <li class='tech__item'>Angular</li>
              <li class='tech__item'>CSS</li>
              <li class='tech__item'>SCSS</li>
              <li class='tech__item'>TypeScript</li>
              <li class='tech__item'>JavaScript</li>
            </ul>
          </div>
      </div>
      <div class='project__demo'>
        <img src='/' alt='demo'/>
      </div>
    </div>
  </li>
</ul>