<div class='portfolio'>
  <h2>Portfolio</h2>
  <p>Check out my work below. Unless otherwise stated, all the back-end and front-end were done by me.</p>
  <br/>
  
  <ul class='timeline'>
    <li class='project'>
      <div class='project__date'>Now</div>
      <div class='project__description'>
        <div class='project__text'>
            <h3 class='project__title'>Angular Portfolio</h3> 
            <p class='project__subtitle'>Best way to learn Angular? By making a portfolio.</p>
            <p class='project__summary'>Check out all of my web development work by scrolling down the timeline! I've also got work that is currently in progress, and I'm so excited about them!</p>
            <div>
              <a href='/evalieu/' target='_blank'><button class='project__button'>DEMO</button></a>
              <a href='https://github.com/itsevalieu/portfolio' target='_blank'><button class='project__button'>GITHUB</button></a>
            </div>
            <div class='project__tech'>
              <p>TECHNOLOGIES</p>
              <ul class='tech__list'>
                <li class='tech__item'>Angular</li>
                <li class='tech__item'>CSS</li>
                <li class='tech__item'>SCSS</li>
                <li class='tech__item'>TypeScript</li>
                <li class='tech__item'>JavaScript</li>
              </ul>
            </div>
        </div>
        <!-- <div class='project__demo'>
          <img src='/' alt='demo'/>
        </div> -->
      </div>
    </li>
    <li class='project'>
      <div class='project__date'>2019</div>
      <div class='project__description'>
        <div class='project__text'>
            <h3 class='project__title'>Andrew's Dating Profile</h3> 
            <p class='project__subtitle'>Mobile-responsive single-page profile</p>
            <p class='project__summary'>How better to show your love for a family member than to make him a dating profile? All right, maybe it was just for the giggles.</p>
            <div>
              <a href='https://no1bachelorandrewla.netlify.com/' target='_blank'><button class='project__button'>DEMO</button></a>
              <a href='https://github.com/itsevalieu/lala' target='_blank'><button class='project__button'>GITHUB</button></a>
            </div>
            <div class='project__tech'>
              <p>TECHNOLOGIES</p>
              <ul class='tech__list'>
                <li class='tech__item'>HTML</li>
                <li class='tech__item'>CSS</li>
                <li class='tech__item'>Javascript</li>
                <li class='tech__item'>netlify</li>
              </ul>
            </div>
        </div>
        <div class='project__demo'>
          <img src='assets/lala.png' alt='demo'/>
        </div>
      </div>
    </li>
    <li class='project'>
      <div class='project__date'>2017-2018</div>
      <div class='project__description'>
        <div class='project__text'>
            <h3 class='project__title'>Teafographic Encyclopedia</h3> 
            <p class='project__subtitle'>A tea and herb encyclopedia for the tea addict.</p>
            <p class='project__summary'>Mobile-responsive with a search filter for a custom-made tea api database.</p>
            <div>
              <a href='https://teafographic.herokuapp.com/encyclopedia' target='_blank'><button class='project__button'>DEMO</button></a>
              <a href='https://github.com/itsevalieu/project-lotus' target='_blank'><button class='project__button'>GITHUB</button></a>
            </div>
            <div class='project__tech'>
              <p>TECHNOLOGIES</p>
              <ul class='tech__list'>
                <li class='tech__item'>React</li>
                <li class='tech__item'>CSS/SCSS</li>
                <li class='tech__item'>Express.js</li>
                <li class='tech__item'>Node.js</li>
                <li class='tech__item'>MongoDB</li>
                <li class='tech__item'>Mongoose</li>
                <li class='tech__item'>JavaScript</li>
                <li class='tech__item'>netlify</li>
              </ul>
            </div>
        </div>
        <div class='project__demo'>
          <img src='assets/teafoencyclo.png' alt='demo'/>
        </div>
      </div>
    </li>
    <li class='project'>
      <div class='project__date'>2017-2018</div>
      <div class='project__description'>
        <div class='project__text'>
            <h3 class='project__title'>Sample Landing Page</h3> 
            <p class='project__subtitle'>A sample landing page for a tea subscription product</p>
            <p class='project__summary'>Mobile-responsive landing page.</p>
            <div>
              <a href='https://teafographic.herokuapp.com/' target='_blank'><button class='project__button'>DEMO</button></a>
              <a href='https://github.com/itsevalieu/project-lotus' target='_blank'><button class='project__button'>GITHUB</button></a>
            </div>
            <div class='project__tech'>
              <p>TECHNOLOGIES</p>
              <ul class='tech__list'>
                <li class='tech__item'>React</li>
                <li class='tech__item'>CSS/SCSS</li>
                <li class='tech__item'>Express.js</li>
                <li class='tech__item'>Node.js</li>
                <li class='tech__item'>MongoDB</li>
                <li class='tech__item'>Mongoose</li>
                <li class='tech__item'>JavaScript</li>
                <li class='tech__item'>netlify</li>
              </ul>
            </div>
        </div>
        <div class='project__demo'>
          <img src='assets/teafolanding.png' alt='demo'/>
        </div>
      </div>
    </li>
    <li class='project'>
      <div class='project__date'>2017-2018</div>
      <div class='project__description'>
        <div class='project__text'>
            <h3 class='project__title'>E.L Bulletin</h3> 
            <p class='project__subtitle'>A bulletin board for my writing portfolio</p>
            <p class='project__summary'></p>
            <div>
              <a href='https://elbulletin-db.herokuapp.com/' target='_blank'><button class='project__button'>DEMO</button></a>
              <a href='https://github.com/itsevalieu/elbulletin' target='_blank'><button class='project__button'>GITHUB</button></a>
            </div>
            <div class='project__tech'>
              <p>TECHNOLOGIES</p>
              <ul class='tech__list'>
                <li class='tech__item'>React</li>
                <li class='tech__item'>CSS</li>
                <li class='tech__item'>Node.js</li>
                <li class='tech__item'>Express.js</li>
                <li class='tech__item'>MongoDB</li>
                <li class='tech__item'>JavaScript</li>
                <li class='tech__item'>Heroku</li>
              </ul>
            </div>
        </div>
        <div class='project__demo'>
          <img src='assets/elbulletin.png' alt='demo'/>
        </div>
      </div>
    </li>
    <li class='project'>
      <div class='project__date'>2017</div>
      <div class='project__description'>
        <div class='project__text'>
            <h3 class='project__title'>Bird Pick Tea Drink Generator</h3> 
            <p class='project__subtitle'>Random drink generator for Bird Pick Tea & Herb drink menu</p>
            <p class='project__summary'></p>
            <div>
              <a href='https://birdpicktea.com/pages/drinkgenerator' target='_blank'><button class='project__button'>DEMO</button></a>
            </div>
            <div class='project__tech'>
              <p>TECHNOLOGIES</p>
              <ul class='tech__list'>
                <li class='tech__item'>JavaScript</li>
                <li class='tech__item'>liquid</li>
                <li class='tech__item'>html</li>
                <li class='tech__item'>css</li>
                <li class='tech__item'>shopify</li>
              </ul>
            </div>
        </div>
        <div class='project__demo'>
          <img src='assets/bpgenerator.png' alt='demo'/>
        </div>
      </div>
    </li>
    <li class='project'>
      <div class='project__date'>2016</div>
      <div class='project__description'>
        <div class='project__text'>
            <h3 class='project__title'>Jukebox</h3> 
            <p class='project__subtitle'>A music playlist queue with a community chatroom</p>
            <p class='project__summary'>A team project done way back in the day. Worked on the front-end portion.</p>
            <div>
              <a href='https://github.com/itsevalieu/jukebox' target='_blank'><button class='project__button'>GITHUB</button></a>
            </div>
            <div class='project__tech'>
              <p>TECHNOLOGIES</p>
              <ul class='tech__list'>
                <li class='tech__item'>JavaScript</li>
                <li class='tech__item'>Bootstrap</li>
                <li class='tech__item'>firebase</li>
                <li class='tech__item'>jquery</li>
                <li class='tech__item'>itunes api</li>
              </ul>
            </div>
        </div>
        <!-- <div class='project__demo'>
          <img src='/' alt='demo'/>
        </div> -->
      </div>
    </li>
  </ul>
</div>