/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*, *:before, *:after {
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-size: 62.5%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.app {
    display: grid;
    grid-template-areas:'aside container';
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    // border: 1px solid red;
}
a {
    text-decoration: none;
    color: #fff;
}
