/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*, *:before, *:after {
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: #555;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}