.hero {
    background: url('../../assets/hero.jpg');
    background-size: cover;
    height: 100%;
    padding: 75px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-shadow: 4px 4px 4px #ccc;
    div {
        h2 {
            text-transform: none;
            font-size: 5em;
        }
        p {
            font-size: 3em;
        }
    }

    .hero__buttons {
        .hero__button {
            border: 1px solid black;
            border-radius: 0;
            background: none;
            font-size: 1.8em;
            text-transform: uppercase;
            text-shadow: 4px 4px 4px #ccc;
            box-shadow: 2px 1px 2px #ccc;
            margin: 5px;
            height: 50px;
            width: 150px;
            &:hover {
                cursor: pointer;
                box-shadow: 1px 1px 4px rgb(250, 164, 155);
            }
        }
    }
}
@media (max-width: 767px) {
    .hero {
        background-size: cover;
        background-position: center center;
        padding: 50px;
    }
}